.deps
.dirstamp
.stgit-*
*.o
*~
*.tar.*
configure
aclocal.m4
*.cache
*.log
*.status
config.h
config.h.in
Makefile
Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/.pot
mkinstalldirs
stamp-*
src/ncmpc
src/ncmpc-tiny
build
