##
## Configuration file for ncmpc (~/.ncmpc/config)
## 

## auto center (center the playing track in the playlist)
#auto-center = no

## wide_cursor - make the cursor as wide as the screen
#wide-cursor = yes

## list-format
#list-format = "%name%|[%artist% - ]%title%|%file%"

## status-format
#status-format = "[%artist% - ]%title%|%shortfile%"


##
## Color configuration
##
## colors: black,red,green,yellow,blue,magenta,cyan,white 
##

## enable/disable colors
#enable-colors = no

## background colors: black,red,green,yellow,blue,magenta,cyan,white, none 
#color background = black

## text colors: black, red, green, yellow, blue, magenta, cyan, white,
##              brightblack, brightred, brightgreen, brightyellow, brightblue,
##              brightmagenta, brightcyan, brightwhite


#color title = yellow
#color title-bold = brightyellow
#color line = white
#color line-flags = brightwhite
#color list = green
#color list-bold = brightgreen
#color progressbar = white
#color status-state = brightyellow
#color status-song  = yellow
#color status-time  = red
#color alert = brightred



