##
## Configuration file for ncmpc (~/.ncmpc/config)
## 

## auto center (center the playing track in the playlist)
#auto_center = no

## wide_cursor - make the cursor as wide as the screen
#wide_cursor = no

##
## Color configuration
##
## colors: black,red,green,yellow,blue,magenta,cyan,white 
##

## enable/disable colors
#enable_colors = no

## background color
#background_color = black

## text colors
#title_color    = white
#line_color     = green
#list_color     = yellow
#progress_color = green
#status_color   = white
#alert_color    = yellow




