##
## Configuration file for ncmpc (~/.ncmpc/config)
## 

## screen list - used when navigating with next-screen (tab) and 
## previous-screen (shift+tab) 
## names: playlist browse help artist clock
#screen-list = playlist artist

## auto center (center the playing track in the playlist)
#auto-center = no

## wide_cursor - make the cursor as wide as the screen
#wide-cursor = yes

## wrapped cursor movement
#wrap-around = no

## wrapped find mode
#find-wrap = yes

## ring bell when find wraps around
#bell-on-wrap = no

## show last pattern when using find
#find-show-last = no

## list-format
#list-format = "%name%|[%artist% - ]%title%|%file%"

## status-format
#status-format = "[%artist% - ]%title%|%shortfile%"

## sound audible bell on alerts
#audible-bell = yes

## enable visible bell on alerts
#visible-bell = no

## hide playlist cursor after x seconds (0 disables this feature)
#hide-cursor = 5

## change the xterm title 
#set-xterm-title = no

## xterm title format
#xterm-title-format = "ncmpc: [ %name%|[%artist% - ]%title%|%file%]"

## enable mouse events 
#enable-mouse = no

## seek time (default 1s)
#seek-time = 3

## mpd crossfade time 
##crossfade-time = 10

## scroll long titles
#scroll = yes

## separator to use when scrolling
#scroll-sep = " *** "

##
## Color configuration
##
## colors: black,red,green,yellow,blue,magenta,cyan,white 
##

## enable/disable colors
#enable-colors = no

## background colors: black,red,green,yellow,blue,magenta,cyan,white, none 
#color background = black

## text colors: black, red, green, yellow, blue, magenta, cyan, white,
##              brightblack, brightred, brightgreen, brightyellow, brightblue,
##              brightmagenta, brightcyan, brightwhite


#color title = yellow
#color title-bold = brightyellow
#color line = white
#color line-flags = brightwhite
#color list = green
#color list-bold = brightgreen
#color progressbar = white
#color status-state = brightyellow
#color status-song  = yellow
#color status-time  = red
#color alert = brightred



